html{
    background-color: #000000; 
}

.card{
    width: 300px;
    padding: 20px;
    animation-duration:0.33s;
}

.Lucas{
 background-image: linear-gradient(to bottom, #ffa76a, #ff4431);
 border-radius: 50%;
}

.Onze{
 background-image: linear-gradient(to bottom, #9a8478, #1e130c);
 border-radius: 50%;
}

.Mike{
 background-image: linear-gradient(to bottom, #072239, #07d173);
 border-radius: 50%;
}

.Dustin{
 background-image: linear-gradient(to bottom,#e8f5ff, #45b2ff);
 border-radius: 50%;
}

.card-content{
    padding: 0.2rem 1.2rem 1.2rem 1.2rem;
    background-color: #f5f5dc;
    border-radius: 6px;
    transform: skewY(2deg);
    animation-name: hover;
    animation-duration:0.33s;
}

.card-content:hover{
    background-color:#dddddd;
}

.card:hover{
    transform: scale(1.05);
}

h2{
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
}

p{
    font-size:16px;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(420px, 1fr));
}
