* {
    box-sizing: border-box;
}

html {
    background-color: black;
}

.card {
    background-color: #f5f5dc;
    width: 300px; margin: 20px;

    &-img { display: flex; vertical-align: middle; justify-content: center; }

    &-content { padding: 0.2rem 1.2rem 1.2rem 1.2rem; }

    .grad-dustin {background-image: linear-gradient(to bottom, #e8f5ff, #45b2ff);}
    .grad-lucas {background-image: linear-gradient(to bottom, #ffa76a, #ff4431);}
    .grad-onze {background-image: linear-gradient(to bottom, #9a8478, #1e130c);}
    .grad-mike {background-image: linear-gradient(to bottom, #072239, #07d173);}

}